process {
    memory = '1950G'

    withName: TransLiG {
        cpus = 4
        memory = '480G'
        queue = 'idle'
        time = '150h'
    }

    withName: IDBA_UD {
        cpus = 40
        memory = '480G'
        queue = 'idle'
        time = '96h'
    }

    withName: ingapCdg {
        queue = 'idle'
        time = '120h'
    }

    withName: IDBA_MT {
        cpus = 4
        memory = '480G'
        queue = 'idle'
        time = '96h'
    }

    withName: IDBA_TRAN {
        cpus = 120
        memory = '480G'
        queue = 'idle'
        time = '96h'
    }

    withName: rnabloom {
        memory = '1950G'
        queue = 'idle'
        time = '140h'
        cpus = 200
    }

    withName: Oases {
        cpus = 4
        memory = '480G'
        queue = 'idle'
        time = '150h'
    }

    withName: Velvetg {
        cpus = 4
        memory = '480G'
        queue = 'idle'
        time = '150h'
    }

    withName: Velveth {
        cpus = 4
        memory = '480G'
        time = '23h'
    }

    withName: DBG {
        cpus = 64
        memory = '480G'
        queue = 'idle'
        time = '96h'
    }

    withName: SOAPdenovoTrans {
        cpus = 120
        memory = '480G'
        queue = 'idle'
        time = '150h'
    }

    withName: TransABySS {
        cpus = 128
        memory = '480G'
        queue = 'idle'
        time = '150h'
    }

    withName: Trinity {
        cpus = 128
        memory = '480G'
        queue = 'idle'
        time = '150h'
    }
}