env {
    PATH = "/vol/jlab/tlin/software/cli_links:/vol/jlab/tlin/software/ass_links:$PATH"
}

// vol/software/bin was thrown out

params {
    sample_dir = '/homes/tlin/Projects/jlab-mtpreprocess/result/sortmerna_read_id_repaired'
    pattern = '*_T1_{1,2}non_rRNA.fastq_repaired.id_changed.fastq.gz'
}

process {
    executor = 'slurm'
    cpus = 64
    memory = '250G'
    //errorStrategy = 'finish'
    errorStrategy = { task.attempt <= 5 ? 'retry' : 'finish' }
    maxRetries = 5

    withName: TransLiG {
        cpus = 4
        memory = '250G'
        queue = 'idle'
        time = '150h'

    }

    withName: IDBA_MT {
        cpus = 4
        memory = '100G'
    }

    withName: rnabloom {
        memory = '400G'
        queue = 'idle'
        time = '72h'
    }

    withName: Oases {
        cpus = 4
        memory = '150G'
        queue = 'idle'
        time = '150h'
    }

    withName: Velvetg {
        cpus = 4
        memory = '150G'
        queue = 'idle'
        time = '150h'
    }

    withName: Velveth {
        cpus = 4
        memory = '150G'
    }
}

singularity {
    enabled = true
    runOptions = '--bind /etc:/etc'
}

conda {
    enabled = true
}
